.header {
  width: 100vw;
  overflow-y: hidden;
  height: 4em;
  background-color: #910d0f;
  color: #dbb85f;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
  border: none;
  box-shadow: 0 0 20px #dbb85f;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  z-index: 10;
}

.header h1 {
  margin: 0;
  padding-left: 1em;
}
