.all {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all h2 {
  text-align: center;
  margin-bottom: 0;
}

.description {
  width: 90%;
}

.description p {
  padding: 1em;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1.5em;
  font-size: 1.1em;
  border-bottom: 1px solid #dbb85f;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  text-align: center;
  text-shadow: 0 0 50px #2a2d34;
  padding-bottom: 0.4em;
}

.all div > span {
  padding: 1em;
  padding-left: 10%;
  font-size: 1.3em;
}
.all img {
  width: 90%;

  height: 20em;
  box-shadow: 0 0 10px rgb(65, 63, 63);
  border-radius: 30px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.all h4 {
  font-size: 1.1em;
  text-align: center;
  margin: 0;
  padding-bottom: 1em;
}

.all h4 > span {
  font-weight: 300;
  padding: 0.2em 0.5em;
  border-radius: 80px;
  box-shadow: 0 0 5px #dbb85f;
  color: white;
  font-weight: bold;
}

.about {
  width: 90%;
  box-shadow: 0 0 15px #dbb85f;
  border-radius: 20px;
  margin-bottom: 1em;
  background-color: #2a2d34;
}

.about p {
  font-size: 1.1em;
  text-align: center;
  padding: 0.5em;
  line-height: 1.5em;
  text-shadow: 0 0 30px white;
  color: #dbb85f;
}

.ingredients {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 30em;
  margin-bottom: 1em;
  background-color: #dbb85f;
  border-radius: 40px;
  margin-top: 2em;
  box-shadow: 0 0 10px #2a2d34;
  padding: 0.4em;
}

.ingredients h4 {
  background-color: #2a2d34;
  color: #dbb85f;
  margin: 0;
  padding: 0.5em 1em;
  border-radius: 20px;
  position: relative;
  left: -25%;
  top: -1em;
  box-shadow: 0 0 10px #2a2d34;
  opacity: 0.9;
}

.ingList li {
  position: relative;
  padding: 0.7em 1em;
  font-size: 1.2em;
  color: #2a2d34;
  font-weight: bold;
  opacity: 0.9;
  border-bottom: 1px solid #2a2d34;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 20px;
}

.ingList li:last-child {
  border-bottom: none;
}

.steps h4 {
  color: #dbb85f;
  font-size: 2em;
  margin: 0;
  padding: 0;
  margin-top: 2em;
  margin-bottom: -0.8em;
  text-align: left;
  background-color: #2a2d34;
  width: 3em;
  padding: 0.2em 0.5em;
  margin-left: 1em;
  opacity: 0.9;
  box-shadow: 5px 5px 5px #dbb85f;
  border-radius: 40px;
}

.steps ol {
  padding: 1em;
  padding-left: 1.3em;
  padding-right: 0;
  padding-top: 0;
  height: auto;
  font-size: 1.2em;
}

.steps ol > li::marker {
  font-weight: bolder;
  color: #dbb85f;
  text-shadow: 0 0 1px #2a2d34;
  font-size: 1.2em;
  margin-left: 0.7em;
  margin-right: 0.4em;
}
.steps ol li {
  padding: 1em 0em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  margin-left: 0.5em;
  font-size: 1.2em;
  color: #2a2d34;
  border-bottom: 2px solid #dbb85f;
  border-bottom-right-radius: 30px;
}

.video {
  max-width: 40em;
  box-shadow: 0 0 20px #2a2d34;
  border-radius: 10px;
}
.rate {
  text-align: center;
}
.rate h4 {
  margin: 0;
  padding: 0;
  margin-top: 2em;
  font-size: 1.4em;
  border-bottom: 1px solid #dbb85f;
  padding-bottom: 0.3em;
  border-radius: 40px;
  margin-bottom: 0.7em;
}

.rate > div {
  margin-bottom: 1em;
}
.smiles {
  font-size: 2em;
  color: #2a2d34;
  padding: 0.5em 0.8em;
  transition: all 300ms ease-out;
  box-shadow: 0 0 10px #dbb85f;
  margin: 0 0.3em;
  border-radius: 20px;
}

.smiles:hover {
  cursor: pointer;
  background-color: #3d424f;
}

.smiles:first-child {
  color: rgb(124, 233, 124);
}

.smiles:nth-child(2) {
  color: rgb(193, 193, 55);
}

.smiles:last-child {
  color: rgb(234, 81, 81);
}

.rate > span {
  color: #dbb85f;
  text-align: center;
}

/* comments area */

.comments {
  width: 90%;
  max-width: 50em;
}
.comments h4 {
  font-size: 1.4em;
  margin-top: 1.4em;
  text-align: left;
  border-bottom: 3px solid #dbb85f;
  margin-bottom: 0.7em;
  border-bottom-right-radius: 40px;
  padding-bottom: 0.3em;
}

.comments form {
  display: flex;
  flex-direction: column;
}

.comments form input,
.comments form textarea {
  height: 2em;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  border-radius: 10px;
  border: none;
  box-shadow: 5px 5px 10px #3d424f;
}

.comments form textarea {
  height: 10em;
}

.comments form button {
  width: 10em;
  height: 3em;
  padding: 0.7em 0.5em;
  margin-bottom: 1em;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #3d424f;
  background-color: #dbb85f;
  color: #3d424f;
  font-weight: bold;
  border: none;
  opacity: 0.9;
  transition: all 300ms ease-in-out;
  margin-top: 0.7em;
}

.comments form button:hover {
  opacity: 1;
  cursor: pointer;
  background-color: #3d424f;
  color: #dbb85f;
}

.comments form {
  border-bottom: 3px dotted #dbb85f;
  margin-bottom: 1em;
}
/*  comment list  */

.commentList {
  width: 90%;
  max-width: 50em;
}

.commentList ul {
  padding: 0;
}

.commentList li {
  list-style: none;
  text-align: left;
  border-bottom: 1px double #dbb85f;
}

.commentList li h5 {
  font-size: 1.1em;
  margin-bottom: 0;
  color: #2a2d34;
}

.commentList li p {
  background-color: #3d424f;
  padding: 1em;
  border-radius: 20px;
  color: #dbb85f;
  margin-top: 0.5em;
}

.foodLogo {
  display: none;
}
/* for no ingredients and steps */
.noSteps {
  padding: 1em;
}

.noIngredients {
  font-size: 1.3em;
}
@media (min-width: 1000px) {
  .all img {
    height: 30em;
  }
}

@media (min-width: 1300px) {
  .smiles {
    color: #2a2d34 !important;
  }
  .smiles:first-child:hover {
    color: rgb(124, 233, 124) !important;
  }

  .smiles:nth-child(2):hover {
    color: rgb(193, 193, 55) !important;
  }

  .smiles:last-child:hover {
    color: rgb(234, 81, 81) !important;
  }
}

@media (min-width: 1350px) {
  .all {
    width: 50em;
    padding-left: 2em;
  }

  .foodLogo {
    display: block;
    box-shadow: none !important;
    border: none;
    width: 32em !important;
    height: 35em !important;
    position: fixed;
    right: 7em;
    top: 5em;
  }
}
